/* color: #e0e0e0; #2a2a2a #1e1e1e*/

/* === Basis Reset & Defaults === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 2;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body, html {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  background-color: #2a2a2a;
  width: 100%;
  height: 100%;
}



main {
  width: 100%;
  flex: 1;
  padding: 1rem;
}

/* Optional: Nur Desktop → zentriere dort */
@media (min-width: 800px) {
  body {
    max-width: 800px;
  }
}

/* === Links === */
a {
  color: #64b5f6;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #90caf9;
}

/* === Überschriften === */
h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}

/* === Header === */
header {
  background-color: #003552;
  text-align: center;
  border-bottom-left-radius: 0.5rem;  
  border-bottom-right-radius: 0.5rem;
  margin-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 70px;
}

.kurzgefasst, .erster-Schritt {
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  border: 1px solid #3f3f3f;
}

.kurzgefasst, .erster-Schritt{
  border-top: 2px solid #005D8F;
  border-right: 2px solid #005D8F;
}


/* === Listen === */
ul {
  margin: 1rem 0;
  padding-left: 1.2rem;
}

/* === Footer & Navigation === */
#footer {
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
  border-top: 1px solid gray;
  padding: 1rem;
}
#footer p {
  color: gray;
}

#nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: #1e1e1e;
  border: 1px solid #3f3f3f;
  border-top: 2px solid #005D8F;
  border-right: 2px solid #005D8F;
}
#nav a {
  color: #ffffff;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  width: 70%;
  background-color: #004266;
}